@import url('https://fonts.googleapis.com/css2?family=Combo&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Combo', cursive;
}

::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}

.view_more a {
    text-decoration: none;
}

.vid_detail a {
    text-decoration: none;
}

.dropdown {
    display: none;
}


.dropdown button {
    background: transparent;
    border: none;
    outline: none;
}

.drop_slider {
    width: 200px;
    height: 200px;
    background: black;
    position: absolute;
    top: 0px;
}

header {
    width: 100%;
    background: #F40033;
    height: 80px;
    align-items: center;
    display: flex;
    position: sticky;
    top: 0px;
    z-index: 9999;
    box-shadow: 0px 0px 10px 0px black;
}

.wrapper {
    width: 90%;
    margin: auto;
}

.logo_img {
    width: 60px;
    height: 60px;
    margin-right: 10px;

   

}



.logo_img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform:rotateY(360deg);
}

.header_part {
    display: flex;
    justify-content: space-between;
}

.logo_img_name a {
    display: flex;
    cursor: pointer;

}

.header_part h1 {
    color: white;
    margin-top: 5px;
    font-size: 30px;
    align-self: center;
    font-weight: 700;
}

.logo_img_name a {
    text-decoration: none;
}

.Donate_us {
    background: white;
    padding: 4px 10px;
    border-radius: 30px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

.Donate_us a {
    text-decoration: none;
    color: #9b0223;
}

.Donate_us a:hover {
    color: #9b0223;

}

.Donate_us:hover {
    opacity: 70%;
    transition: 0.5s;
}

.signup_top a {
    color: white;
    text-decoration: none;
}

.signup_top a:hover {
    color: white;
}

.main_menu ul {
    display: flex;
    height: 100%;
    align-items: center;
}


.menu_topic a {
    padding: 5px 10px;
    font-size: 20px;
    color: white;
    font-weight: 600;
    text-decoration: none;
}


.main_menu ul .active a {
    color: #FFD40C;
    border-bottom: 3px solid #FFD40C;
}

.menu_topic a:hover {
    color: #FFD40C;
    transition: 0.3s;
}

.main_menu ul .active a:hover {
    color: #FFD40C;
}

.menu_bar {
    margin-top: 16px;
}

.line {
    width: 30px;
    height: 3px;
    background: white;
    margin-bottom: 5px;
    display: none;

}

.main_menu ul {
    display: flex;
}

.video_details {
    width: 100%;
    background: #F40033;
    margin-bottom: 1px;
    margin-top: 1px;
}

.details_video {
    display: flex;
    align-items: center;
}

.vid_detail {
    display: flex;
    align-items: center;
    width: 50%;
    height: 400px;
    background: #F40033;
    color: white;

}

.vid_detail button {
    margin-top: 10px;
    border: none;
    outline: none;
    background: none;
}

.vid_detail button a {
    padding: 6px 25px;
    border-radius: 20px;
    color: #9b0223;
    background: white;
}

.vid_detail button a:hover {
    background: #d3d037;
    transition: 0.8s;
}

.vid_detail button i {
    margin-left: 10px;
}

.yt_video {
    width: 50%;
}

.yt_video img {
    width: 100%;
}

.yt_video iframe {
    width: 100%;
}

.mission_vision {
    background: #F40033;
    padding: 30px 0px;
    margin-top: 1px;
}

.mission_vision h1 {
    text-align: center;
    color: white;
    margin-bottom: 35px;
}

.misson_IT {
    display: flex;
    justify-content: space-around;
}

.charatable_IT {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.why_IT {
    width: 46%;
    background: #fc073c;
    box-shadow: 0px 0px 10px 0px #554602;
    border-radius: 30px;
    margin-bottom: 30px;
}

.why_IT:hover {
    box-shadow: 0px 0px 20px 0px #554602;
}

.why_IT a {
    text-decoration: none;
}

.why_IT a img {
    height: 280px;
    width: 90%;
    margin: 30px 5%;
    border-radius: 10px;
    object-fit: cover;
}

.charatable_projects {
    width: 30%;
    background: #fc073c;
    box-shadow: 0px 0px 10px 0px #554602;
    border-radius: 30px;
    margin-bottom: 30px;
}

.charatable_projects:hover {
    box-shadow: 0px 0px 15px 0px #554602;
}

.charatable_projects a {
    text-decoration: none;
}

.charatable_projects a img {
    height: 200px;
    width: 90%;
    margin: 30px 5%;
    border-radius: 10px;
    object-fit: cover;
}

.description {
    width: 90%;
    margin: 0px 5%;
    text-align: center;
    margin-bottom: 30px;
    cursor: pointer;
}

.logo_display {
    display: none;
}

.description h3 {
    color: white;
    margin-bottom: 20px;
}

.description h5 {
    color: white;
    font-size: 18px;
}

.mission {
    width: 48%;
    background: red;
}

.image_ads {
    width: 100%;
}

.image_ads img {
    width: 100%;
}

.our_products {
    margin: 20px 0px;
}

.our_products h1 {
    text-align: center;
    margin-bottom: 20px;
}

.products_img_details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product {
    width: 22%;
    flex-wrap: wrap;
    background: #d1cecf;
    margin-bottom: 20px;
    border-radius: 10px;
}

.product img {
    width: 100%;
    object-fit: cover;
}

.product:hover {
    transform: translate3d(10px);
    box-shadow: 0px 0px 10px 0px black;
    transition: 0.5s;
}

.view_more {
    width: 300px;
    margin: auto;
}

.view_more h5 {
    text-align: center;
    margin-top: 15px;
    padding: 7px 10px;
    background: #F40033;
    border-radius: 20px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.view_more h5:hover {
    opacity: 70%;
}

footer {
    width: 100%;
    background: #F40033;
    color: rgb(238, 231, 231);
}

.footer {
    display: flex;
    height: 300px;
    padding: 30px 0px;
}

.location {
    margin-left: 40px;
}

.copyright {
    width: 100%;
    background: #9b0223;
    color: white;
    font-size: 15px;
    padding: 4px 0px;
    text-align: center;
}

/* About us part */
.details_part_aboutus {
    margin: 80px auto;
}

.details_part_aboutus h1 {
    text-align: center;
    margin: 30px auto;
}

.details_part_aboutus b {
    line-height: 2.6;
}

.details_part_aboutus h5 {
    line-height: 1.6;
    margin: 40px auto;
}

.details_part_aboutus ul {
    margin-top: 20px;
}

.describe_points li {
    margin: 25px auto;
}

.buttom_navigation_bar {
    position: fixed;
    bottom: 0px;
    display: flex;
    background: #df0a38;
    width: 100%;
    color: white;
    display: none;
    height: 55px;
    align-items: center;
    box-shadow: 0px 0px 10px 0px black;
    text-align: center;
    justify-content: space-around;
}

.buttom_navigation_bar p {
    margin: 0px;
}

.buttom_navigation_bar i {
    margin-bottom: 0px;
}

.buttom_navigation_bar a {
    color: white;
    text-decoration: none;
}

.buttom_navigation_bar a:hover {
    color: gray;
}

.signup_top {
    margin-top: 10px;
    color: white;
}

/* Supportus */
.Support_us_main {
    width: 80%;
    margin: 40px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    color: white;
}

.esewa {
    width: 32%;
    background: #3e9f23;
    padding: 10px;
    border-radius: 30px;
}

.esewa img {
    width: 80%;
    margin: 10px auto;
}

.khalti {
    width: 32%;
    background: #5D2E8E;
    padding: 10px;
    border-radius: 30px;
}

.khalti img {
    width: 80%;
    margin: 10px auto;
}

.banking {
    width: 32%;
    background: blue;
    padding: 10px;
    border-radius: 30px;
}

.banking img {
    width: 80%;
    margin: 10px auto;
}

.join_us a {
    text-decoration: none;
    color: white;
}

.join_us a i {
    font-size: 18px;
    padding-right: 7px;
}

.join_us a:hover {
    color: rgb(201, 198, 198);
    opacity: 80%;
}

@media (max-width:1270px) {
    .main_menu ul {
        display: none;
    }

    .line {
        display: block;
    }

    .dropdown {
        display: flex;
        align-items: center;
    }

    .display_donate {
        margin-top: 10px;
        margin-right: 20px;
    }

    .Support_us_main {
        width: 90%;
    }
}

@media (max-width:1024px) {


    .misson_IT {
        display: block;
    }

    .product {
        width: 30%;
    }

    .why_IT {
        width: 92%;
        margin: auto;
    }

    .description h5 {
        padding-bottom: 20px;
    }

    .charatable_projects {
        width: 46%;
    }
}

@media (max-width:830px) {
    .details_video {
        display: block;
    }

    .yt_video {
        width: 100%;
    }

    .vid_detail {
        width: 100%;
    }

    .video_2 {
        padding-top: 30px;
    }

    .menu_bar {
        display: none;
    }

    .display_donate {
        margin-right: 0px;
        margin-top: 5px;
    }

    .buttom_navigation_bar {
        display: flex;
    }


}

@media (max-width:768px) {
    header {
        height: 50px;
    }

    .Support_us_main {
        width: 95%;
        flex-wrap: wrap;
    }

    .esewa {
        width: 46%;
    }

    .khalti {
        width: 46%;
    }

    .banking {
        width: 46%;
        margin-top: 20px;
    }

    .header_part h1 {
        font-size: 20px;
    }

    .logo_img {
        width: 40px;
        height: 40px;
    }

    .menu_bar {
        margin-top: 10px;
    }

    .vid_detail {
        height: 280px;
    }

    .vid_detail h1 {
        font-size: 22px;
    }

    .vid_detail h5 {
        font-size: 17px;
    }

    .product {
        width: 46%;
    }

    .footer {
        display: block;
        height: 550px;
    }

    .contact_us {
        margin-left: 40px;
    }

    .signup_top {
        margin-left: 10px;
    }
}

@media (max-width:576px) {
    .logo_display_1 {
        display: none;
    }

    .logo_display {
        display: block;
    }

}

@media (max-width:480px) {
    .Support_us_main {
        width: 95%;
        flex-wrap: wrap;
    }

    .esewa {
        width: 86%;
    }

    .khalti {
        width: 86%;
        margin-top: 20px;
    }

    .banking {
        width: 86%;
        margin-top: 20px;
    }
}

@media (max-width:368px) {
    .footer {
        height: 490px;
    }

    .menu a p {
        display: none;
    }
}

/****************login css*****************/

.boxform {
  width: 460px;
  background: white;
  margin: auto;
  margin-top: 60px;
  box-shadow: 2px 2px 8px 2px rgb(196, 194, 194);

  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


.boxform .row {
  display: inline-flex;
}

.boxform a {
  text-decoration: none;
}

.boxform .login_box {
  margin: auto;
}

.boxform .inputs {
  width: 90%;
  margin: auto;
}

.boxform .inputs p {
  font-size: 14px;
  margin: 5px auto;
}

.boxform .inputs input {
  width: 100%;
  height: 28px;
  outline: none;
  padding-left: 10px;
}

.boxform .inputs {
  margin: 10px auto;
}

.boxform .inputs label {
  font-size: 14px;
  margin-top: 10px;
}

.boxform .logo_img {
  display: flex;
  align-items: center;
  color: rgb(206, 32, 32);
  justify-content: center;
}

.boxform .logo_img img {
  width: 40px;
  border-radius: 50%;
  margin-top: 15px;
  margin-bottom: 10px;
}

.boxform .logo_img h2 {
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 5px;
}

.boxform .inputs select {
  outline: none;
}

.boxform .login_button {
  width: 90%;
  margin-left: 5%;
  outline: none;
  background: rgb(206, 32, 32);
  color: white;
  padding: 10px;
  border-radius: 20px;
  font-size: 15px;
  border: none;
  margin-top: 15px;
  margin-bottom: 20px;
  
}
.boxform .login_button:hover{opacity: 80%;}

.boxform .sponsered label {
  font-size: 12px;
}
.boxform .types h5{margin-left: 25px;}
.boxform .sponsored{display: flex;justify-content: space-around;flex-wrap: wrap;}
.boxform .sponsored select{margin: 5px auto;padding: 4px 8px;border: none;border-radius: 10px;color: white; background: #CE2020;}
@media (max-width:500px) {
  .boxform {
      width: 90%;
  }

  .boxform .connect_with_fb p {
      padding: 8px 30px;
  }
}

@media (max-width:405px) {
  .boxform .connect_with_fb p {
      padding: 8px 20px;
  }
}

@media (max-width:350px) {
  .boxform .connect_with_fb p {
      padding: 8px 10px;
  }
}


/****************login css end*****************/


/************toast container css**************/


.toast-message {
  background: darkblue;
  color: #fff;
  font-size: 20px;
  width: 34vw;
  padding: 30px 20px;
}


/************toast container css end**************/

